<ng-container [ngSwitch]="status">
  <div *ngSwitchCase="statusEnum.Idle">
    <input type="file" class="file-input"
      (change)="onFileSelected($event)" #fileUpload>
    <button mat-flat-button color="primary" class="upload-btn"
      (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <div *ngSwitchCase="statusEnum.InProgress">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngSwitchCase="statusEnum.Done">
    a miracle indeed!
  </div>
  <div *ngSwitchDefault>
    a miracle
  </div>
</ng-container>
